body{
    background-color: #f2f2f2;
    /* font-family: 'poppins'; */
}
.navbar{
    background-color: #fff;
    top: 0;
    left: 0;
}
.navbar .container a{
    text-decoration: none;
    color: black;
}
.navbar .container span{
    color: #007AF3;
}
.navbar .container nav {
    display: flex; 
}
.navbar .container nav .logo{
   font-size: 20px;
   font-weight: bolder;
}
.navbar .container nav .primary-nav{
    display: flex;
}
.navbar .container nav .secondary-nav{
    display: flex;
    padding-left: 600px;
    
}
.navbar .container nav ul{
    list-style-type: none;
}
.navbar .container nav ul li{
    padding-left: 10px;
}
.navbar .container nav .secondary-nav .go-premium-cta a{
    color: #007AF3;
    border: 2px solid #007AF3;
    border-radius: 10px;
    padding: 5px;
    font-weight: lighter;
}
.navbar .container nav .secondary-nav .go-premium-cta a:hover{
    background-color: #007AF3;
    color: #fff;
    transition: 0.5s;
}

.hero{
    margin-top: 10%;
    margin-left: 20%;
    margin-bottom: 10%;
}
.conteiner{
    display: flex; 
}
.conteiner img{

    border-radius: 20px;
    transform: translate(50%);
}
footer .footer1{
    background: #20272E;
    color: white;
}
footer .footer1{
    padding: 20px 200px;
   
}
footer .footer1 img{
    transform: translate(300%, -50%);
    position: absolute;
} 
.hero .primary-cta{
    background-color: #fff;
    color: #007AF3;
    font-size: 20px;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
}
.hero .primary-cta:hover{
    background-color: #007AF3;
    color: #fff;
    transition: 0.5s;
}
li {
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-left: 2em;
    list-style-type: none;
}
.footer1 li:before {
    position: relative;
    left: -20px;
    content: "✔";
    background-color: rgb(59, 223, 59);
    border-radius: 50px;
    padding: 5px;
    font-size: 15px;
  }
footer .footer2 img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -100%);
}
.footer2{
    background-color: #007AF3;
}
.footer2 section{
    background-color: #006BD6;
    border-radius: 20px;
    display: block;
    text-align: center;
    padding-top: 50px;
    color: #fff;
}

.footer2 .sect1{
    transform: translate(20%);
    
}
.footer2 .sect2{
    transform: translate(60%);
}
.footer2 .sect3{
    transform: translate(80%);
}
.footer2{
    display: flex;
    padding-left: 20%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer3{
    display: flex;
    background: #fff;
}
.footer3 img{
    transform: translate(555px, -53%);
    position: absolute;
}
.footer3 input[type=submit]{
    background-color: #007AF3;
    outline: none;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.current{
    font-weight: bolder;
}

